input {
  width: 70%;
  height: 30px;
  border-radius: 10px;
  outline-style: none;
  border: none;
  font-size: 20px;
  margin-bottom: 10px;
}
button {
  height: 30px;
  border-radius: 10px;
  outline-style: none;
  border: none;
  margin-bottom: 10px;
  font-weight: 600;
}

.contaner {
  height: 100%;
  width: 50vw;
  display: flex;
  flex-direction: column;
  background-color: lightblue;
  justify-content: center;
  align-items: center;
  margin: 0vh 25vw;
}

li {
  font-size: 25px;
  list-style-type: none;
  margin-left: -150px;
  
}
.btndlt{
  align-items: center;
  
}